body {
    background-color: rgb(248, 233, 215);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.page {
    width: 900px;
    margin: 0 auto; /* Esto centra la web horizontalmente */
}
.header {
    height: 100px;
    background-color: #B2D6FF;
}
.menu {
    height: 300px;
    background-color: #F09A9D;
}
.content {
    height: 500px;
    background-color: #F5CF8E;
}
.footer {
    height: 200px;
    background-color: #D6E9FE;
}