* { /* Tipico */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root { /* Paleta de colores y fuentes (basico) */
    /* Fondo: */
    --bg-color: #0a192f;
    
    /* Color Principal */
    --text-primary: #ccd6f6;
    
    /* Color Secundario */
    --text-secondary: #8892b0;
    
    /* Links y cosas basicas */
    --accent-color: #31d1ac;
    
    /* FUENTES DE LETRA */
    /* La del titulo */
    --font-principal: "Zalando Sans Expanded", sans-serif;
    
    /* La de puntitos */
    --font-puntos: "Bitcount Grid Double", monospace;
}

body {
    background-color: var(--bg-color); /* Color de fondo */
    color: var(--text-secondary); /* Color texto secundario */
    
    font-family: var(--font-principal);
    
    line-height: 1.6; /* Separacion lineas */
    
    /* Para conseguir el footer al final */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 { /* Color titulos */
    color: var(--text-primary);
    font-family: var(--font-principal);
}

/* Parte Header */
header {
    background-color: #0a182d;
    box-shadow: 0 7.5px 20px -10px #002f44;
    padding: 0 40px; 
    height: 85px;
    font-family: var(--font-principal);

    position: sticky; /* Menu estatico */
    top: 0;
    z-index: 100;
    
    display: flex;
    align-items: center;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand h1 { /* Nombre */
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--accent-color);
    margin: 0;
}

.brand p { /* Subtítulo */
    font-size: 0.8rem;
    color: var(--text-secondary);
    margin: 0;
    letter-spacing: 1px; 
}

/* Menu */
nav { 
    display: flex; 
    gap: 22.5px;     
}

nav a {
    text-decoration: none; 
    color: var(--text-primary);
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover { /* Color seleccion */
    color: var(--accent-color);
    text-shadow: 0 0 5px;
}

nav a.active { 
    color: var(--accent-color);
}

/* Parte Main */
.main-content {
    width: 100%;
    max-width: 900px; 
    margin: 0 auto;
    padding: 80px 20px; 
    flex: 1; /* Empuja el footer */
}

.intro {
    margin-bottom: 30px; 
}

.intro h2 {
    font-size: 3rem; 
    line-height: 1.1;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.1rem;
}

.intro strong {
    color: var(--accent-color);
}

.project-info h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.skills-list {
    margin-top: 20px;
    background-color: #112240;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 7.5px 20px #002f44;
}

.skills-list p {
    font-size: 0.8rem;
    margin: 5px 0;
    align-items: center;
}

.skills-list p::before {
    content: "▹";
    color: var(--accent-color);
    margin-right: 10px;
}

/* Parte Footer */
footer {
    background-color: #020c1b;
    box-shadow: 0 7.5px 20px 10px #002f44;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #1d2d50;
    font-family: var(--font-principal);
}

.footer-container p {
    margin: 8px 0;
    font-size: 0.9rem;
    color: var(--text-secondary);
}


.tech-credits {
    font-size: 0.75rem; 
    margin-bottom: 15px;
    font-family: var(--font-puntos) !important;
}

.tech-credits strong {
    color: var(--accent-color); 
    font-weight: normal;
}

.copyright {
    font-size: 0.6rem;
    opacity: 0.6; 
}


/* Parte About Me */

.bio-simple {
    display: flex;      
    gap: 30px;          
    align-items: start;
}

.bio-simple img {
    width: 410px;       
    height: auto;       
    border-radius: 11.5px; 
}

.btn-resume { /* Boton */
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px; 
    font-family: var(--font-puntos);
    font-size: 0.9rem;
}

.btn-resume:hover { /* Efecto como el del header, iluminación */
    box-shadow: 0 0 10px var(--accent-color);
    text-shadow: 0 0 5px var(--accent-color);
}

.social-simple { /* Enlaces redes */
    font-family: var(--font-puntos); 
    font-size: 1.1rem;
    color: var(--text-secondary);
}

.social-simple a { /* Para que se vean normal */
    color: var(--text-secondary);
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.social-simple span { /* Color | */
    color: var(--accent-color);
}

.social-simple a:hover { /* Efecto como el del header, iluminación */
    color: var(--accent-color);
    text-shadow: 0 0 8px var(--accent-color);
}